/* General Page Styling */

body {
	font-family: 'Segoe UI', sans-serif;
	margin: 0;
	padding: 0;
	background: #fff0f5;	
}

/*Navigation Bar*/

nav ul{
	list-style-type:none;
	margin: 0;
	padding: 0;
	background-color: #f8c8dc
	overflow:hidden;
	text-align:center;
}

nav ul li{
	display:inline-block;
	padding: 14px 20px;
}

nav ul li a{
	text-decoration:none;
	color:#333;
	font-weight:bold;
}
	
nav ul li a:hover{
	color:#c94f7c;
}	
	
/*Active Page Highlight*/

nav ul li a.active{
	text-decoration:underline;
	color:#c94f7c
}

/*Header and Footer*/
header,footer{
	text-align:center;
	padding: 20px;
}

/*Section Formatting*/
section{
	margin: 20px;
}

/*Tables (Meal Plan Table on Nurtition Page)*/
table{
	width: 80%;
	margin:30px auto;
	border-collapse:collapse;
	background-color:#ffffff;
}
table, th, td{
	border: 1px solid #c94f7c
	padding: 10px;
	text-align:center;
}

th{
	background-color: #f8c8dc;
}

/*Forms (Workout SignUp Form)*/
form{
	width: 60%;
	margin: 30px auto;
	background-color: #ffffff
	padding: 20px;
	border: 1px solid
	
	
	